<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Solana Cryptoasset Wallet OnWeb3</h1>
            <p>We are helping you create and secure a Solana Wallet Address (public key and 12 word seed phrass)</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3></h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
